<p id="notice"><%= notice %></p>

<div id="tableContainer">
  <table id="myTable" class="tablesorter table table-striped">
    <thead >
    <tr >
      <th>Nombre</th>
      <th>Categoria</th>
      <th>Descripcion</th>
      <th>Disponible</th>
      <th>Accion</th></tr>
    </tr>
    </thead>

    <tbody >
    <% @cloths.each do |c|%>
        <% amount = @inventory.get_amount_of_cloths	c %>
        <%   if amount != 0  %>
        <tr id="cloth_<%=c.id%>">
          <td class="clothName"> <%= c.name %></td>
          <td class="clothCategory"> <%= c.category.name %></td>
          <td class="clothDescription"> <%= c.description %></td>
          <td class="clothAmount"> <%= amount%></td>
          <td><div class="input-append">

              <!--<input  class="cloth_count input-mini" type="text">-->
                <select id="amount_<%= c.id%>" class="input-mini">
                    <%	 for i in (0..amount) %>
                    <option><%= i %></option>
                    <%	 end %>
                </select>
              <button id="<%= c.id%>" class="btn btn-primary" onclick="addToList(this.id,true)">Agregar</button>
              </div>
          </td>
        </tr>
    <%	 end %>
    <%end %>
    </tbody>
  </table>
</div>
ยบ
<div id="tableContainerLista">
  <%= form_tag create_register_dirty_cloths_admin_ropa_sucium_path do %>
      <table id="lista" class=>
        <thead >
        <tr >
          <th>Nombre</th>
          <th>Cantidad</th>
          <th>Acciones</th>
        </tr>
        </thead>
        <tbody>

        </tbody>

      </table>
      <%= submit_tag 'Ingresar Ropa' %>
  <% end %>
</div>
