<p id="notice"><%= notice %></p>

<p>
  <table>
    <tr><th>Nombre</th><th>Tipo</th><th>Descripcion</th><th></th></tr>
    <%= @cloths.each do |c|%>
        <tr>
          <th>
                  <%= c.name %>
          </th>
          <th>
                <%= c.cat %>
          </th>
          <th>Descripcion</th><th></th></tr>

  <%=  %>

  <%end %>
  </table>


</p>


<%= link_to 'Back', home_path %>
