%p#notice= notice

%table{:class => "tableSorter", :id => "lista"}
	%thead
		%tr
			%th Ubicacion
			%th Prenda
			%th Cantidad
	%tbody  	
		-@cloths_inventory.each do |ci|
			%tr
				%td= Inventory.find(ci.inventory_id).location.name
				%td= Cloth.find(ci.cloth_id).name
				%td= ci.amount.to_s

= link_to 'VOlver', cloths_inventories_path

:javascript
	$(document).ready(function(){
		$("#lista").tablesorter()
	})
