<p id="notice"><%= notice %></p>

<p>
  <b>Distintion:</b>
  <%= @cloth.distintion %>
</p>

<p>
  <b>Height:</b>
  <%= @cloth.height %>
</p>

<p>
  <b>Widht:</b>
  <%= @cloth.widht %>
</p>

<p>
  <b>Depth:</b>
  <%= @cloth.depth %>
</p>

<p>
  <b>Color:</b>
  <%= @cloth.color %>
</p>

<p>
  <b>Feston:</b>
  <%= @cloth.feston %>
</p>

<p>
  <b>Tipo:</b>
  <%= @cloth.tipo %>
</p>

<p>
  <b>Categoty:</b>
  <%= @cloth.categoty_id %>
</p>


<%= link_to 'Edit', edit_cloth_path(@cloth) %> |
<%= link_to 'Back', cloths_path %>
