<p id="notice"><%= notice %></p>

<div id="tableContainer">
  <table id="myTable" class="tablesorter table table-striped">
    <thead >
    <tr >
      <th>Nombre</th>
      <th>Categoria</th>
      <th>Descripcion</th>
      <th>Accion</th></tr>
    </tr>
    </thead>

    <tbody >
    <% @cloths.each do |c|%>
        <tr id="cloth_<%=c.id%>">
          <td class="clothName"> <%= c.name %></td>
          <td class="clothCategory"> <%= c.category.name %></td>
          <td class="clothDescription"> <%= c.description %></td>
          <td><div class="input-append">
              <input id="amount_<%= c.id%>" class="cloth_count input-mini" type="text" >
              <button id="<%= c.id%>" class="btn btn-primary" onclick="addToList(this.id,false)">Agregar</button>
              </div>
          </td>
        </tr>
    <%end %>
    </tbody>
  </table>
</div>

<div id="tableContainerLista">
  <%= form_tag create_register_clean_cloths_admin_ropa_limpium_path do %>
      <table id="lista" class=>
        <thead >
        <tr >
          <th>Nombre</th>
          <th>Cantidad</th>
          <th>Acciones</th>
        </tr>
        </thead>
        <tbody>

        </tbody>

      </table>
      <%= submit_tag 'Ingresar Ropa' %>
  <% end %>
</div>


